@page
<!DOCTYPE html>
<html lang="en">
@{

    Layout = "/Pages/Shared/_Layout.cshtml";
}
<body>
    <div class="container">
        <div class="name-card">
            <div class="card-body" data-toggle="collapse" data-target="#aboutMeSection">
                <h1 class="card-title-name">
                    Tony Dolenti
                </h1>
                <div id="aboutMeSection" class="collapse">
                    <h2 class="card-subtitle mb-2 text-muted">About Me</h2>
                    <p class="card-text">
                        I am a 21-year-old enthusiastically pursuing a career as a software developer. During high school,
                        I delved into the realms of robotics and avionics,
                        discovering a profound passion for programming. Currently, I am a newly graduated, full-stack developer from TrueCoders, channeling
                        my skills and dedication into creating innovative solutions.
                    </p>
                </div>
            </div>
        </div>

        <div class="new-card">
            <div class="card-body">
                <h2 class="card-title">Skills</h2>
                <div id="skills">
                    <p class="card-text">
                        <img src="~/imgs/csharp.png" alt="C#" style="width: 200px;" height="200px;">
                        <img src="~/imgs/html.png" alt="HTML5" style="width: 200px;" height="200px;">
                        <img src="~/imgs/css.png" alt="CSS3" style="width: 175px;" height="200px;">
                        <img src="~/imgs/js.png" alt="JavaScript" style="width: 200px;" height="200px;">
                        <img src="~/imgs/asp.net.png" alt="ASP.NET" style="width: 400px;" height="200px;">
                        <img src="~/imgs/sql.png" alt="SQL" style="width: 400px;" height="220px;">
                        <img src="~/imgs/git.png" alt="Git" style="width: 180px;" height="180px;">
                    </p>
                </div>
            </div>
        </div>

        <div class="new-card" style="text-align: center; border-radius: 15px;">
            <div class="card-body">
                <h2 class="card-title">Experience</h2>

                <div id="experienceSection">
                    <div class="row">
                        <!-- Project 1 - Left -->
                        <div class="col-md-6">
                            <div class="custom-card-body">
                                <h3 class="card-sub-title">SupercarPulse</h3>
                                <p class="card-text">
                                    Discover a carefully curated collection of high-end vehicles,
                                    each presented with its unique details and specifications. It's your gateway to the world of extraordinary automobiles with SupercarPulse. I successfully employed ASP.NET MVC,
                                    harnessing the power of Dapper and leveraging a MySQL database to seamlessly implement CRUD operations.
                                </p>
                                <div class="video-container">
                                    <video controls autoplay loop>
                                        <source src="~/imgs/Untitled.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="card-text">
                                    Search Feature - Allows user to search site for vehicle using make or model.
                                </div>
                                <div class="video-container">
                                    <video controls autoplay loop>
                                        <source src="~/imgs/crud.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="card-text">
                                    CRUD functionality - Users can add their own supercar, using their own images and specs.
                                </div>
                                <div class="buttons">
                                    <a class="btn btn-outline-dark testimonials-btn" href="https://github.com/TonyDolenti/SupercarPulse" role="button">SupercarPulse Repository</a>
                                </div>
                            </div>
                        </div>

                        <!-- Project 2 - Right -->
                        <div class="col-md-6">
                            <div class="custom-card-body">
                                <h3 class="card-sub-title">TacoParser</h3>
                                <p class="card-text">Project 2 details go here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

